@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.main-container {
  display: flex;
  border-radius: 17px;
  height: 60px;
  max-width: 780px;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.25);
}

.main-container .items-container {
  max-width: 660px;
  display: flex;
  justify-content: left;
  overflow-x: hidden;
}

.main-container .items-container .movable-container {
  width: 660px;
  display: flex;
  transition: 300ms;
}

.main-container .items-container .movable-container>div {
  height: 58px;
  text-align: center;
  line-height: 60px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.2px;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  width: auto;
  min-width: 110px;
  max-width: 110px;
  -webkit-tap-highlight-color: transparent;
}

.main-container .items-container .movable-container .selected {
  animation-name: font-color-waver;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

.main-container .left-box {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.4);
  min-width: 60px;
  -webkit-tap-highlight-color: transparent;
}

.main-container .right-box {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.4);
  min-width: 60px;
  -webkit-tap-highlight-color: transparent;
}

.main-container .active {
  color: rgba(255, 255, 255, 0.8) !important;
  cursor: pointer !important;
}

@keyframes font-color-waver {
  0% {
    color: rgba(74, 179, 74, 0.8)
  }

  50% {
    color: rgb(62, 189, 62)
  }

  100% {
    color: rgb(74, 179, 74, 0.8)
  }
}